html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*
* {
  border: 1px solid red;
}
*/

@font-face {
	font-family: "Montserrat";
	src: local("MontserratSemiBold"),
		url("../fonts/MontserratSemiBold.woff2") format('woff2'),
		url("../fonts/MontserratSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: "Montserrat";
	src: local("MontserratBold"),
		url("../fonts/MontserratBold.woff2") format('woff2'),
		url("../fonts/MontserratBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: local("MontserratRegular"),
		url("../fonts/MontserratRegular.woff2") format('woff2'),
		url("../fonts/MontserratRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: local("MontserratMedium"),
		url("../fonts/MontserratMedium.woff2") format('woff2'),
		url("../fonts/MontserratMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: "Montserrat";
	src: local("MontserratExtraBold"),
		url("../fonts/MontserratExtraBold.woff2") format('woff2'),
		url("../fonts/MontserratExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-width: 320px;
  background: #f1f1f1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-offset {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* header */
.header-container {
  background-color: #a5a1a1;
  box-shadow: 0 5px 40px 0 rgba(130, 119, 119, 0.1);
  border-radius: 0 0 20px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  background-color: #dfc05b;
  border-radius: 10px 10px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  background-color: #dfc05b;
  border-radius: 10px 10px;
}


/*footer*/
.footer-content {
  display: flex;
  justify-content: space-around;
  background-color: #a5a1a1;
  box-shadow: 0 5px 40px 0 rgba(130, 119, 119, 0.1);
  border-radius: 20px 20px 0 0;
}